@mixin desktop(){
    @media screen and (max-width: $xl) {
        @content;
    }
}

@mixin notebook(){
    @media screen and (max-width: $lg) {
        @content;
    }
}

@mixin tablets(){
    @media screen and (max-width: $md){
        @content;
    }
}

@mixin movile(){
    @media screen and (max-width: $sm){
    
    }
}

@mixin caja_flex($direction:row,$wrap:wrap,$al_cont:flex-start,$just_cont:flex-start,$al_item:center){
    display:flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-content: $al_cont;
    justify-content: $just_cont;
    align-content: $al_item;
}
/*
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

para movil y tablets  horizontal
320 x 480
1024 x 768
*/

@mixin caja_relative ($ancho, $alto, $margin, $max_ancho:unset){
    position: relative;
    width: $ancho;
    max-width: $max_ancho;
    height: $alto;
    margin:$margin;
}