// media querys
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

//Fuentes
$titulo:( 'Karla', sans-serif);
$parrafo: ('Merriweather', serif);

//Fondos y texto
$fondo:#FFFFFF;
$color_titulo:#3F3F3F;
$boton: #FF7C5F;
$resaltado1: #107263;
$resaltado2: #FFDE62;

/* Seccion con codigo javascript */
//bg code
$bg_code: #282A36;
$bg_caja_boton:#2b2c38;
$c_borde:#38393c;

//colores boton
$c_cruz:#aaaaaf;
$boton_red: #ff5555;
$boton_yellow: #f1fa8c;
$boton_green: #50fa7b;

//colores textos
$c_fun: #47cb6c;
$c_var: #ff79c6;
$c_streng: #f1fa8c;
$c_number:#a591ec;
$c_alert:#6ee3ea;
$c_coment:#5e6c92;
$c_texto:#f8f8e6;

